@page
@model Photography_Project.Pages.ModelModel
@{
    ViewData["Title"] = "Model Photography";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Model.css" type="text/css" />
</head>
<body>
    <div class="row">
        <div class="left-bg"></div>

        <div class="container"></div>
        <h2>@ViewData["Title"]</h2>
        <br />
        <!--Structure is in rows with 3 columns per row-->
        <div class="row">
            <div class="column">
                <img src="~/images/RL6-2-re.jpg" class="responsive">
                <p>VKCC </p><br />
            </div>
            <div class="column">
                <img src="~/images/RL7-re.jpg" class="responsive">
                <p>VKCC </p><br />
            </div>
            <div class="column">
                <img src="~/images/DSC01353-re.jpg" class="responsive">
                <p>VKCC </p><br />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src="~/images/DSC00943-2-re.jpg" class="responsive">
                <p>TeamLab Borderless </p><br />
            </div>
            <div class="column">
                <img src="~/images/DSC00920-2-re.jpg" class="responsive">
                <p>TeamLab Borderless</p><br />
            </div>
            <div class="column">
                <img src="~/images/DSC01169-re.jpg" class="responsive">
                <p>Tokyo Tower 35F</p><br />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src="~/images/TE4-re.jpg" class="responsive">
                <p>ARTIC</p><br />
            </div>
            <div class="column">
                <img src="~/images/TE3-re.jpg" class="responsive">
                <p>ARTIC</p><br />
            </div>
            <div class="column">
                <img src="~/images/TE6-re2.jpg" class="responsive">
                <p>ARTIC</p><br />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src="~/images/DSC00625-re.jpg" class="responsive">
                <p>UCI SQDF 2019</p><br />
            </div>
            <div class="column">
                <img src="~/images/DSC00601-re.jpg" class="responsive">
                <p>UCI SQDF 2019</p><br />
            </div>
            <div class="column">
                <img src="~/images/DSC00606-re.jpg" class="responsive">
                <p>UCI SQDF 2019</p><br />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src="~/images/AN4-re.jpg" class="responsive">
                <p>Downtown San Francisco</p><br />
            </div>
            <div class="column">
                <img src="~/images/AN12-re.jpg" class="responsive">
                <p>SF Museum of Ice Cream</p><br />
            </div>
            <div class="column">
                <img src="~/images/AN1-re.jpg" class="responsive">
                <p>San Francisco Pier 7</p><br />
            </div>
        </div>   
        <div class="row">
            <div class="column">
                <img src="~/images/DSC00805-2-re.jpg" class="responsive">
                <p>Baker's Beach</p><br />
            </div>
            <div class="column">
                <img src="~/images/DSC00801-re-2.jpg" class="responsive">
                <p>Baker's Beach</p><br />
            </div>
            <div class="column">
                <img src="~/images/RL3-3-re.jpg" class="responsive">
                <p>UCI School of Business</p><br />
            </div>
        </div>

        <div class="right-bg"></div>
    </div>
</body>
</html>