@page
@model Photography_Project.Pages.TravelModel
@{
    ViewData["Title"] = "Travel Photography";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Travel.css" type="text/css" />
    <script>
        // Open the Modal
        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }

        // Close the Modal
        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }

        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;

            $('#myModal').on('shown.bs.modal', function () {
                var width = $(window).width();
                if (width < 600) {
                    $('#myModal').modal('hide')
                }
            });
        }
    </script>
</head>
<body>
    <div class="row">
        <div class="left-bg"></div>

        <div class="container"></div>
        <h2>@ViewData["Title"]</h2>
        <br />

        <div class="row">
            <div class="column">
                <img src="~/images/DSC01144-re.jpg" class="responsive" onclick="openModal();currentSlide(1)">
                <p>Tokyo DisneySea</p><br />
            </div>
            <div class="column">
                <img src="~/images/DSC01138-re.jpg" class="responsive" onclick="openModal();currentSlide(2)">
                <p>Tokyo DisneySea</p><br />
            </div>
            <div class="column">
                <img src="~/images/DSC01132-re.jpg" class="responsive" onclick="openModal();currentSlide(3)">
                <p>Tokyo DisneySea</p><br />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src="~/images/DSC00732-re.jpg" class="responsive" onclick="openModal();currentSlide(4)">
                <p>Baker's Beach</p><br />
            </div>
            <div class="column">
                <img src="~/images/RC6-re.jpg" class="responsive">
                <p>Lake Elizabeth Park</p><br />
            </div>
        </div>
        <br /><br /><br />

        <!-- The Modal/Lightbox -->
        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

                <div class="mySlides">
                    <div class="numbertext">1 / 4</div>
                    <img src="~/images/DSC01144-re.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 4</div>
                    <img src="~/images/DSC01138-lb.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">3 / 4</div>
                    <img src="~/images/DSC01132-re.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">4 / 4</div>
                    <img src="~/images/DSC00732-re.jpg" style="width:100%">
                </div>

                <!-- Next/previous controls (Hard to see on images) -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <!-- Caption text (Optional) -->
                <div class="caption-container">
                    <p id="caption"></p>
                </div>
            </div>
        </div>

        <div class="right-bg"></div>
    </div>
</body>
</html>